<div class="px-5 py-4 text-white bg-slate-900">
  <p class="text-3xl font-medium text-right">
    <a class="" href="{{config.site[0].repository}}" target="_blank" rel="noopener noreferrer"><i class="hover:text-green-600 mr-2 fa-brands fa-github"></i></a> 
  </p>
</div>
