<div class="px-4 py-3 text-white bg-slate-900">
  <p class="text-2xl font-medium text-right">
    <a class="" href="{{config.github}}"><i class="hover:text-green-600 mr-2 fa-brands fa-github"></i>  </a> 
  </p>
</div>
