<div class="px-5 py-2 pt-6 text-white bg-slate-900">
  <p class=" md:text-3xl sm:text-xl font-medium text-right">
    <a class="" href="{{config.repository}}" target="_blank" rel="noopener noreferrer"><i class="hover:text-green-600 mr-2 fa-brands fa-github"></i></a> 
  </p>
</div>
 