<div class="p-1 shadow-xl list-none  rounded-2xl bg-gradient-to-r from-green-400 to-green-600">
  <a
    href="#"
    class="flex flex-col no-underline justify-end h-full p-2 bg-gray-900 sm:p-8 rounded-xl hover:bg-opacity-90"
  >
    <div class="mt-4">
      <h5 class="text-xl font-bold text-white">
        Custom Helper to Improve the Rails phone_to Helper Lorem, ipsum dolor.
      </h5>
      <div class="flex items-center justify-between mt-4">
        <p class="text-lg font-medium text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-green-600">
          Rails
        </p>
      </div>
    </div>
  </a>
</div>;
