<footer class="py-4 text-center mx-auto text-base text-gray-600">
    {% include "linkRow.njk" %}
    <p class="pt-1 text-sm">&copy; {{ '' | year }} by <a href="{{config.site[0].repository}}" target="_blank" rel="noopener noreferrer"
            class="text-green-500">Tugrul</a>
        <a href="{{config.site[0].url}}">built with Eleventy and Tailwind.</a>
    </p> <a href="{{config.site[0].repository}}" target="_blank" rel="noopener noreferrer" class="block py-2 my-2">
        <img class="mx-auto" alt="GitHub Repo stars"
            src="https://img.shields.io/github/stars/ted2xmen/lastfm-scraper?style=social"></a>
</footer>