<footer class="py-4 text-center text-base text-gray-600">
    {% include "linkRow.njk" %}
    <p>&copy; {{ '' | year }} - <a href="{{ config.url }}">built with Eleventy and Tailwind.</a>
    <p class="pt-1 text-sm"> by <a href="https://twitter.com/ted2xmen" target="_blank" class="text-green-500">Tugrul</a>
    </p>
</footer>