<div class="p-1 shadow-xl bg-gradient-to-r from-green-500 via-green-400 to-green-300 rounded-2xl">
  <div class="block p-6 hover:bg-slate-800 bg-slate-900 text-gray-300 sm:p-8 rounded-xl" href="">
 	{{ config.siteTitle }} 
  </div>
</div>

