<div class="pt-4  ">
    <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
        <img src="https://avatars.githubusercontent.com/u/20682437?v=4" alt=""
            class="self-center flex-shrink-0 w-32 h-32 border  md:justify-self-start  ">
        <div class="flex flex-col">
            <h3 class="text-2xl font-semibold mb-2 text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-green-600 text-center md:text-left"> {{config.fullname}}  <span class="text-sm ml-3 italic text-gray-200"><a href="{{config.blog}}">Blog</a></span></h3> 
            <p class="text-gray-400 text-sm">Sed non nibh iaculis, posuere diam vitae, consectetur neque. Integer velit
                ligula, semper sed nisl in, cursus commodo elit. Pellentesque sit amet mi luctus ligula euismod lobortis
                ultricies et nibh.</p> 
        </div>
    </div>
</div>