<div class=" items-center justify-between text-gray-400 p-4 my-4 border-l-4  border-green-600 bg-slate-900 ">
       <p class="text-green-600 py-2 text-lg">{{config.personal[0].work}}</p>
    <div class="flex text-gray-300 justify-start py-1  space-x-4 align-center">
        {% include "stack.njk" %}
    </div>
    <div class="flex text-gray-300 justify-start py-1  space-x-4 align-center">
        {% include "tools.njk" %}
    </div>
        <span class="text-green-600 text-lg  mr-2">currently</span> {{config.personal[0].now}} </span>
</div>