<div class=" items-center justify-between text-gray-400 p-6 my-4 border-l-8  border-green-600 bg-slate-900 ">
    <span class="text-green-500 mr-2">active</span> {{config.now}} </span>
    <div class="flex text-gray-300 justify-start py-1  space-x-4 align-center">
        {% include "stack.njk" %}
    </div>
    <div class="flex text-gray-300 justify-start py-1  space-x-4 align-center">
        {% include "tools.njk" %}
    </div>
</div>