<ul>{% for item in projects.projects  %}
    <li class="list-none p-1 ">
        <div
            class="block no-underline h-full p-4 border border-gray-700 rounded-lg hover:border-green-600">
            <h4 class="font-medium text-md text-white">
                <i class="fa-solid fa-code mr-2 text-lg text-green-500"></i>{{item.name}} 
            </h4>
            <p class="mt-1 text-xs font-medium text-gray-300">{{item.description}}
            <img class="mt-4" alt="GitHub last commit" src="https://img.shields.io/github/last-commit/{{item.last}}"> </p>
            <div class="flex items-center justify-end gap-6 mt-2">
              <p class="text-sm font-medium text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-green-600">
                <i class="fa-solid fa-terminal"></i>  {{item.tech}} </p>
                    <a href="{{item.preview}}"><i class="text-green-400 text-lg font-medium fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="{{item.repository}}"><i class="text-green-400 text-lg font-medium fa-brands fa-github"></i></a>
            </div>
        </div>
    </li> {% endfor %}
</ul>