 <strong class="inline-flex items-center border border-gray-500 rounded relative px-2.5 py-1.5 text-sm font-medium">
        <span class="text-gray-400"> STACK: </span> {% for item in config.personal[0].stack %}
        <span class="text-green-700 ml-1.5">
            {{item}}
        </span>{% endfor %}
    </strong> 