 <strong class="inline-flex items-center border border-gray-500 rounded relative px-2.5 py-1.5 text-xs font-medium">
        <span class="text-gray-400"> TOOLS: </span> {% for item in config.tools %}
        <span class="text-green-700 ml-1.5">
            {{item}}
        </span>{% endfor %}
    </strong> 